<div>

    <div class="container my-3">
        <div>
            <mat-tab-group mat-align-tabs="end" style="height: 100%;">
                <mat-tab label="Clientes" >
                    <div class="row">
                        <div class="col-md-6">
                            <label class="title" for="">Agregar Clientes</label>
                            <h6>
                                <small class="text-muted">Ingrese su nombre completo</small>
                            </h6>
                            <form>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </form>
                            <form action="">
                                <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;" >Subir</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;">Buscar</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;" >Editar</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;">Eliminar</button>
                                    </div>
                                        
            
                                  
                                        
           
       
                                        
                     
                                        
                                </div>
                                
                                
                                
                                
                            </div>
                            </form>
                            
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div>
                                    <label class="title" for="">Búsqueda de Clientes-Productos</label>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label grayFont_9" >Nombre del Cliente<a style="color: #D76928;">*</a></label>
                                        <input type="text" class="form-control"  list="datalistOptions"  id="clientName" placeholder="Nombre" >
                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label grayFont_9" >Apellido del Cliente<a style="color: #D76928;">*</a></label>
                                        <input type="text" class="form-control"  list="datalistOptions" id="clientLastName" placeholder="Apellido"  >
                                    </div>
                                    <div class="col-md-4">
                                        <button class="searchButton" >Buscar</button>
                                    </div>
                            
                                </div>
                                <div>
                                    <div>
                                        <table mat-table [dataSource]="datos"  #tabla1>
                                
                                            <ng-container matColumnDef="producto">
                                              <th mat-header-cell *matHeaderCellDef class="form-label"> Producto</th>
                                              <td mat-cell *matCellDef="let articulo" class="rows" > {{articulo.nombre}} </td>
                                            </ng-container>
                                          
                                            <ng-container matColumnDef="cantidad">
                                              <th mat-header-cell *matHeaderCellDef class="form-label"> Cantidad</th>
                                              <td mat-cell *matCellDef="let articulo" class="units"> {{articulo.cantidad}} </td>
                                            </ng-container>
                                          
                                          
                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                          </table>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Productos">Productos</mat-tab>
                <mat-tab label="compras"><div class="col-md-6">
                    <figure class="text-center">
                        <label class="title">Registro de compras</label> 
                    </figure> 
                    <div class="mb-3">
                        <h6>
                            <small class="text-muted">Ingrese su nombre completo</small>
                        </h6>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                            </div>
                            
                        </form>
                        <h6>
                            <small class="text-muted">Seleccione el producto que desea comprar</small>
                        </h6>
                        <select class="custom-select form-control" id="inputGroupSelect01">
                            <option selected>Producto</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> <select class="custom-select form-control" id="inputGroupSelect01">
                            <option selected>Unidad</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="row gy-5">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-outline-success">Registrar</button>
                        </div>
                    </div>  
                </div></mat-tab>
              </mat-tab-group> 
        </div>

        
    </div>
   
    </div>
