<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0F87AA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Recomendador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="carga-datos">Carga</a>
                <a class="nav-link" href="consultas-generales">Consultas Generales</a>
                <a class="nav-link" href="consultas-esp">Consultas Especializadas</a>
                <a class="nav-link" href="gestion-general">Gestión</a>
            </div>
        </div>
    </div>
</nav> 
<div>

    <div class="container my-3">
        <div>
            <mat-tab-group mat-align-tabs="end" style="height: 100%;">
                <mat-tab label="Clientes" >
                    <div class="row">
                        <div class="col-md-6">
                            <label class="title" for="">Agregar Clientes</label>
                            <h6>
                                <small class="text-muted">Ingrese su nombre completo</small>
                            </h6>
                            <form>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </form>
                            <form action="">
                                <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;" >Subir</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;">Buscar</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;" >Editar</button>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="searchButton" style="width: 100px;">Eliminar</button>
                                    </div>

                                        
                                </div>
                                
                                
                                
                                
                            </div>
                            </form>

                            <div class="mb-3">
                                <div>
                                    <table mat-table [dataSource]="datosCliente"  #tabla2>
                            
                                        <ng-container matColumnDef="id">
                                          <th mat-header-cell *matHeaderCellDef class="form-label"> Id Cliente</th>
                                          <td mat-cell *matCellDef="let articulo" class="rows" > {{articulo.id}} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="nombre">
                                          <th mat-header-cell *matHeaderCellDef class="form-label"> Nombre</th>
                                          <td mat-cell *matCellDef="let articulo" class="units"> {{articulo.nombre}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="apellido">
                                            <th mat-header-cell *matHeaderCellDef class="form-label"> Nombre</th>
                                            <td mat-cell *matCellDef="let articulo" class="units"> {{articulo.apellido}} </td>
                                          </ng-container>
                                      
                                        <tr mat-header-row *matHeaderRowDef="columnasCliente"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasCliente;"></tr>
                                      </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div>
                                    <label class="title" for="">Búsqueda de Clientes-Productos</label>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label grayFont_9" >Nombre del Cliente<a style="color: #D76928;">*</a></label>
                                        <input type="text" class="form-control"  list="datalistOptions"  id="clientName" placeholder="Nombre" >
                                    </div>
                                    <div class="col-md-4">
                                        <label for="exampleFormControlInput1" class="form-label grayFont_9" >Apellido del Cliente<a style="color: #D76928;">*</a></label>
                                        <input type="text" class="form-control"  list="datalistOptions" id="clientLastName" placeholder="Apellido"  >
                                    </div>
                                    <div class="col-md-4">
                                        <button class="searchButton" >Buscar</button>
                                    </div>
                            
                                </div>
                                <div>
                                    <div>
                                        <table mat-table [dataSource]="datos"  #tabla1>
                                
                                            <ng-container matColumnDef="producto">
                                              <th mat-header-cell *matHeaderCellDef class="form-label"> Producto</th>
                                              <td mat-cell *matCellDef="let articulo" class="rows" > {{articulo.nombre}} </td>
                                            </ng-container>
                                          
                                            <ng-container matColumnDef="cantidad">
                                              <th mat-header-cell *matHeaderCellDef class="form-label"> Cantidad</th>
                                              <td mat-cell *matCellDef="let articulo" class="units"> {{articulo.cantidad}} </td>
                                            </ng-container>
                                          
                                          
                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                          </table>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Productos">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="title" for="">Agregar Productos</label>
                            <h6>
                                <small class="text-muted">Ingrese los datos solicitados</small>
                            </h6>
                            <form>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="nombre" placeholder="Nombre producto"  autofocus />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="apellido" placeholder="candidad"  autofocus />
                                        </div>
                                        <div class="col-md-4">
                                            <button class="searchButton" style="margin-top: 0%;">Agregar</button>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <label class="title" for="">Búsqueda de Productos</label>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="nombre" placeholder="id Producto"  autofocus />
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre producto"  autofocus />
                                    </div>
                                    <div class="col-md-4">
                                        <button class="searchButton" style="margin-top: 0%;">Buscar</button>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <table mat-table [dataSource]="datos"  #tabla1>
                            
                                        <ng-container matColumnDef="producto">
                                          <th mat-header-cell *matHeaderCellDef class="form-label"> Producto</th>
                                          <td mat-cell *matCellDef="let articulo" class="rows" > {{articulo.nombre}} </td>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="cantidad">
                                          <th mat-header-cell *matHeaderCellDef class="form-label"> Cantidad</th>
                                          <td mat-cell *matCellDef="let articulo" class="units"> {{articulo.cantidad}} </td>
                                        </ng-container>
                                      
                                      
                                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="compras"><div class="col-md-6">
                    <figure class="text-center">
                        <label class="title">Registro de compras</label> 
                    </figure> 
                    <div class="mb-3">
                        <h6>
                            <small class="text-muted">Ingrese su nombre completo</small>
                        </h6>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                            </div>
                            
                        </form>
                        <h6>
                            <small class="text-muted">Seleccione el producto que desea comprar</small>
                        </h6>
                        <select class="custom-select form-control" id="inputGroupSelect01">
                            <option selected>Producto</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> <select class="custom-select form-control" id="inputGroupSelect01">
                            <option selected>Unidad</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="row gy-5">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-outline-success">Registrar</button>
                        </div>
                    </div>  
                </div></mat-tab>
              </mat-tab-group> 
        </div>

        
    </div>
   
    </div>
