<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0F87AA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Recomendador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="carga-datos">Carga</a>
                <a class="nav-link" href="consultas-generales">Consultas Generales</a>
                <a class="nav-link" href="consultas-esp">Consultas Especializadas</a>
                <a class="nav-link" href="gestion-general">Gestión</a>
            </div>
        </div>
    </div>
</nav> 
<div>
    <app-general-view></app-general-view>
</div>
