<div>
    <div style="margin-top: 20px;">
        <label class="title" for="">Top 5 de marcas más vendidas</label>
    </div>

    <div class="productList">
        <mat-list *ngFor="let producto of marcas let i=index" role="list">
            <mat-list-item  class="product" role="listitem">
                <label style="width: 400px;">{{producto.nombre}}</label>
                <label class="units" >{{producto.cantidad}}</label>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</div>
