<div
style="width:900px;">

    <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Cargar Clientes">Presione el botón para cargar datos csv     <button class="searchButton" >Cargar</button></mat-tab>
        <mat-tab label="Cargar Productos">Presione el botón para cargar datos csv      <button class="searchButton" >Cargar</button></mat-tab>
        <mat-tab label="Cargar Compras">Presione el botón para cargar datos csv     <button class="searchButton" >Cargar</button></mat-tab>
        <mat-tab label="Cargar Marcas">Presione el botón para cargar datos csv     <button class="searchButton" >Cargar</button></mat-tab>
        <mat-tab label="Cargar Relaciones">Presione el botón para cargar relaciones     <button class="searchButton" >Cargar</button> 
            <div><button class="searchButton" >Gestion de base de datos</button></div>
            <div><button class="searchButton" >Consultas generales</button></div>
            <div><button class="searchButton" >Consultas especializadas</button></div></mat-tab>
    </mat-tab-group>
</div>
