<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0F87AA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Recomendador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="carga-datos">Carga</a>
                <a class="nav-link" href="consultas-generales">Consultas Generales</a>
                <a class="nav-link" href="consultas-esp">Consultas Especializadas</a>
                <a class="nav-link" href="gestion-general">Gestión</a>
            </div>
        </div>
    </div>
</nav> 
<div
style="width:900px;">

    <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Cargar Clientes">Presione el botón para cargar datos csv <button class="searchButton"  value="clientes" (click)="loadData($event)">Cargar</button></mat-tab>
        <mat-tab label="Cargar Productos">Presione el botón para cargar datos csv <button class="searchButton" value="productos"  (click)="loadData($event)">Cargar</button></mat-tab>
        <mat-tab label="Cargar Compras">Presione el botón para cargar datos csv     <button class="searchButton" value="compras"  (click)="loadData($event)">Cargar</button></mat-tab>
        <mat-tab label="Cargar Marcas">Presione el botón para cargar datos csv     <button class="searchButton" value="marcas" (click)="loadData($event)">Cargar</button></mat-tab>
        <mat-tab label="Cargar Relaciones">Presione el botón para cargar relaciones     <button class="searchButton" value="relaciones" (click)="loadData($event)">Cargar</button> 
            <div>
                <button class="searchButton" value="gestion-general"  (click)="goToPage($event)">Gestion de base de datos</button>
            </div>
            <div>
                <button class="searchButton" value="consultas-generales"(click)="goToPage($event)">Consultas generales</button>
            </div>
            <div>
                <button class="searchButton" value="consultas-esp" (click)="goToPage($event)">Consultas especializadas</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
