@font-face{
    font-family: 'Bryant Pro Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../../../assets/fonts/BryantPro/BryantPro-Bold.otf') format('opentype');
}
@font-face{
  font-family: 'Bryant Pro Medium';
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  src: url('../../../assets/fonts/BryantPro/BryantPro-Medium.otf') format('opentype');
}
@font-face{
  font-family: 'Bryant Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../../assets/fonts/BryantPro/BryantPro-Regular.otf') format('opentype');
}