<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h4>Clientes y producto común.</h4>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <h6>
                            <small class="text-muted">Ingrese su nombre completo</small>
                        </h6>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                            </div>
                            
                        </form>
                        <h6>
                            <small class="text-muted">Seleccione el producto que desea comprar</small>
                        </h6>
                        <select class="custom-select form-control"  id="inputGroupSelect01">
                            <option selected>Producto</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> 
                        <select class="custom-select form-control" id="inputGroupSelect01">
                            <option selected>Unidad</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="row gy-5">
                            <div class="col-md-3">
                                <button class="searchButton" >Buscar</button>
                            </div>
                        </div>  
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th class="centrado">Nombres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="centrado">Selena Coch</td>
                        </tr>
                        <tr>
                            <td class="centrado">Calvin Brown</td>
                        </tr>
                        <tr>
                            <td class="centrado">Merle Bendin</td>
                        </tr>
                        <tr>
                            <td class="centrado">Pricella Neil</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h4>Clientes compras en común</h4>
                    <h6>
                        <small class="text-muted">Ingrese su nombre completo</small>
                    </h6>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                            <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th class="centrado">Nombres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="centrado">Abigail O'Flynn</td>
                        </tr>
                        <tr>
                            <td class="centrado">Marchall Chinery</td>
                        </tr>
                        <tr>
                            <td class="centrado">Willi Dunnet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/controllers.consultasEsp"></script>
</body>