.searchButton{
    width: 160px;
    height: 38px;
    background: #0F87AA;
    margin-top: 31px;
    border-radius: 6px;
    border: none;
    font-family: 'Bryant Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color:#ffffff
}