<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0F87AA;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema Recomendador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="carga-datos">Carga</a>
                <a class="nav-link" href="consultas-generales">Consultas Generales</a>
                <a class="nav-link" href="consultas-esp">Consultas Especializadas</a>
                <a class="nav-link" href="gestion-general">Gestión</a>
            </div>
        </div>
    </div>
</nav> 
<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h4>Clientes y producto común.</h4>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <h6>
                            <small class="text-muted">Ingrese su nombre completo</small>
                        </h6>
                        <form>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="clientName" placeholder="Nombre" (change)="setNombre($event)" >
                                        <input type="text" class="form-control" id="apellido" placeholder="Apellido" (change)="setApellido($event)"   autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <button class="searchButton" (click)="getConsulta3()">Buscar</button>
                                    </div>   
                                </div>
                            </div>
                            
                        </form>
                        <h6>
                            <small class="text-muted">Seleccione el producto </small>
                        </h6>
                        <select class="form-select "  id="inputGroupSelect01">
                            <option selected>Producto</option>
                            <option *ngFor="let producto of productos" value="{{producto.id}}" >{{producto.nombre}}</option>
                        </select>  
                        
                        <input type="text" class="form-control" id="apellido" placeholder="unidades" value="15" disabled  autofocus />
                        <div class="row gy-5">
                            <div class="col-md-3">
                                <button class="searchButton" >Buscar</button>
                            </div>
                        </div>  
                    </div>
                    

                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th class="centrado">Nombres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="centrado">Selena Coch</td>
                        </tr>
                        <tr>
                            <td class="centrado">Calvin Brown</td>
                        </tr>
                        <tr>
                            <td class="centrado">Merle Bendin</td>
                        </tr>
                        <tr>
                            <td class="centrado">Pricella Neil</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <h4>Clientes compras en común</h4>
                    <h6>
                        <small class="text-muted">Ingrese su nombre completo</small>
                    </h6>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre"  autofocus />
                            <input type="text" class="form-control" id="apellido" placeholder="Apellido"  autofocus />
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-secondary table-striped">
                    <thead>
                        <tr>
                            <th class="centrado">Nombres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="centrado">Abigail O'Flynn</td>
                        </tr>
                        <tr>
                            <td class="centrado">Marchall Chinery</td>
                        </tr>
                        <tr>
                            <td class="centrado">Willi Dunnet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/controllers.consultasEsp"></script>
</body>